.App {
  text-align: center;
}

.header {
  background-color: fuchsia;
  min-width: 100vw;
}


.main {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
